 
  .main {
    padding: 10px;
    height: 30px;
    width: auto;
    background-image: radial-gradient(circle, #92a6b2, #0b2031);
    border-radius: 0 0 15px 15px;
    border-top: solid 2px black;
    // box-shadow: 0 8px 16px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white
  }